body {
    background-color: powderblue;
}
h1 {
    color: blue;
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    color: red;
}
.square {
    height: 50cm;
    width: 20cm;
    top: 0%;
    background-color: rgb(56, 163, 163);
    position: fixed; /* or absolute */
    left: 30%;
}

h3 {
    text-align: center;
    -ms-text-overflow: clip;
}
